@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@font-face { font-family: 'Source Sans Pro'; src: url('fonts/Source Sans Pro/SourceSansPro.ttf'); }
@font-face { font-family: 'Poiret One'; src: url('fonts/PoiretOne-Regular.ttf'); }

body {
  background-color: #333333;
}

h1 {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  color: #c0ffb6f0;
}
h2 {
  color: #67ab60;
  font-family: 'Source Sans Pro', sans-serif;
}
h3 {
  color: #67ab60;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  color: #7fb58b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
  position: sticky;
  color: white;
  border-radius: 5px;
}

.text {
  /*background-image: url("images/03-whitepaper.png");*/
  color: #7d9679f0;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-left: 15%;
  margin-right: 15%;
}

pc2 {
  font-size: 84%;
}

li {
  float: left;
  position: sticky;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
  font-family: 'Source Sans Pro', sans-serif;
}

li a:hover {
  background-color: #585858;
  position: sticky;
  border-radius: 5px;
  color: white;
}
.active {
  background-color: #4CAF50;
  border-radius: 5px;
  position: sticky;
  color: white;
}

.menu a:visited {
  color: lightgrey;
}

.menu a:link {
  color: white;
}

a:link {
  color: #0fc105;
}
a:visited {
  color: green;
}
a:hover {
  color: green;
}
a:active {
  color: blue;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 { width: 100%; }
.span_3_of_4 { width: 74.6%; }
.span_2_of_4 { width: 49.2%; }
.span_1_of_4 { width: 23.8%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}

.fade-in.two {
-webkit-animation-delay: 3.2s;
-moz-animation-delay:3.2s;
animation-delay: 3.2s;
}

.fade-in.three {
-webkit-animation-delay: 3.4s;
-moz-animation-delay: 3.4s;
animation-delay: 3.4s;
}

.fade-in.four {
-webkit-animation-delay: 3.6s;
-moz-animation-delay: 3.6s;
animation-delay: 3.6s;
}

.fade-in.five {
-webkit-animation-delay: 3.8s;
-moz-animation-delay: 3.8s;
animation-delay: 3.8s;
}

.fade-in.six {
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}
